
    <form  action="" method="">
      <div class="add-event-container">
        <div class="close-btn" onclick="close_handler()">
          <i class="fa-solid fa-xmark fa-2xl" style="color: #f7f7f7;"></i>
        </div>
        <div class="event-info">
          <div class="event-info-1">
            
        <!-- Name -->
        <div class="add-event-row add-event-name">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" class="add-con" placeholder="Name" required>
        </div>
        <!-- Email -->
        <div class="add-event-row">
        <label for="email">Email ID:</label>
        <input type="email" id="email" class="add-con" name="email" placeholder="abcd@gmail.com"required>
        </div>
        <!-- Mobile Number -->
        <div class="add-event-row">
        <label for="mobile">Mobile Number:</label>
        <input type="tel" id="mobile" name="mobile" class="add-con"placeholder="Phone Number" required>
        </div>
          
          
        <!-- MB Dropdown -->
        <div class="add-event-row">
        <label for="mb">MB:</label>
        <select id="mb" name="mb" class="add-con">
          <option value="" disabled selected>Select an option</option>
          <option value="option1">Option 1</option>
          <option value="option2">Option 2</option>
          <option value="option3">Option 3</option>
        </select>
        </div>
          </div>
          <div class="event-info-2">
        <!-- Select Model Dropdown -->
        <div class="add-event-row">
        <label for="model">Select Model:</label>
        <select id="model" name="model" class="add-con">
          <option value="" disabled selected>Select an option</option>
            <option value="option1">Option 1</option>
            <option value="option2">Option 2</option>
            <option value="option3">Option 3</option>
          </select>
        </select>
        </div>
        <!-- Product Expert Dropdown -->
        <div class="add-event-row">
        <label for="expert">Product Expert:</label>
        <select id="expert" name="expert" class="add-con">
          <option value="" disabled selected>Select an option</option>
            <option value="option1">Option 1</option>
            <option value="option2">Option 2</option>
            <option value="option3">Option 3</option>
          </select>
        </select>
        </div>
        <!-- Select Room Dropdown -->
        <div class="add-event-row">
        <label for="room">Select Room:</label>
        <select id="room" name="room" class="add-con">
          <option value="" disabled selected>Select an option</option>
            <option value="option1">Option 1</option>
            <option value="option2">Option 2</option>
            <option value="option3">Option 3</option>
          </select>
        </select>
        </div>
        </div>
        </div>
        <!-- Save Button -->
        <div class="add-event-row button-div">
        <button class="save-btn" type="submit">Save</button>
          </div>
      </div>
    </form>

  