
{% if contents %}
{% for content in contents %}

  <div class="content" id="{{ loop.index }}"  onclick="spotreveal('{{content.id}}')" oncontextmenu="onContextMenu(event,this.id,'{{content.id}}')" >
    <div class="init-content">
    <div class="init-div"> 
      <div class="time">{{content.date}}</div>   
      <div class="name">{{content.name}}</div>
    </div>
    <div >
      <i class="fas fa-chevron-down arrow"  onclick="toggleSection(this.parentElement.parentElement.parentElement.id,event)"></i>
    </div>
  </div>
    <div class="section-content">
      {{content.model}}
      </div>
  </div>
  {% endfor %}
  {% else %}
   <div class="no-content">No Records found </div>
  {% endif %}